@import "tailwindcss";

@theme {
    --color-primary-blue: #3b82f6; 
    --color-primary-green: #10b981;
    --color-primary-orange: #ef4444;
}
@utility color-* {
background-color: --value(--color-primary-*);
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */